In [1]:
import pandas as pd
import os

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
from analysis.StatisticalAnalysis.generalStatistics import GeneralStatistics
from analysis.StatisticalAnalysis.tweetsStatistics import TweetsStatistics

In [3]:
covidDataUS = pd.read_csv("../../data/covidDataUS.csv")

In [4]:
tweetsUS = pd.read_csv("../../data/tweetsUS.csv", names=["timestamp", "date", "lang", "text"])

In [5]:
tweetsGB = pd.read_csv("../../data/tweetsGB.csv", names=["timestamp", "date", "lang", "text"])

In [6]:
tweetsAU = pd.read_csv("../../data/tweetsAU.csv", names=["timestamp", "date", "lang", "text"])

In [7]:
sentimentsUS = pd.read_csv("../../data/sentimentsUS.csv")

In [10]:
usData = pd.merge(covidDataUS, sentimentsUS, left_on="date", right_on="day")

### Inizialize Statistics Class

In [11]:
usStatistics = GeneralStatistics(usData)

In [12]:
usStatistics.computeMaxDayForCol("negPercentage", perc=True)

            day  negPercentage
374  2020-02-27       0.538462

In [13]:
usStatistics.computeMaxDayForCol("posPercentage", perc=True)

          day  posPercentage
6  2021-03-01       0.516667

In [14]:
usStatistics.computeMaxDayForCol("deathIncrease")

           day  deathIncrease
23  2021-02-12           5427

In [15]:
usStatistics.computeMaxDayForCol("death")

          day     death
0  2021-03-07  515151.0

In [16]:
usStatistics.computeMaxDayForCol("positiveIncrease")

           day  positiveIncrease
58  2021-01-08            295121

In [17]:
usStatistics.computeMaxDayForCol("positive")

          day    positive
0  2021-03-07  28756489.0

## Statistics on Tweets

In [18]:
tweetsStatistics = TweetsStatistics(tweetsUS)
tweetsStatistics.overview()

day with max tweets 2020:
           day  count  year
67  2020-04-19    498  2020

day with max tweets 2021:
            day  count  year
578  2021-09-12    184  2021

mean tweets count 2020: 167.6327160493827

mean tweets count 2021: 62.8021978021978

medan tweets count 2020: 142.5

median tweets count 2021: 56.5

In [19]:
tweetsStatisticsGB = TweetsStatistics(tweetsGB)
tweetsStatisticsGB.overview()

day with max tweets 2020:
           day  count  year
57  2020-04-18    207  2020

day with max tweets 2021:
            day  count  year
318  2021-01-04    142  2021

mean tweets count 2020: 50.78095238095238

mean tweets count 2021: 30.86813186813187

medan tweets count 2020: 46.0

median tweets count 2021: 26.0

In [20]:
tweetsStatisticsAU = TweetsStatistics(tweetsAU)
tweetsStatisticsAU.overview()

day with max tweets 2020:
           day  count  year
33  2020-04-01     37  2020
50  2020-04-18     37  2020

day with max tweets 2021:
            day  count  year
510  2021-07-24     30  2021

mean tweets count 2020: 9.49025974025974

mean tweets count 2021: 7.886111111111111

medan tweets count 2020: 8.0

median tweets count 2021: 6.0